<footer class="footer {% if site.scrollappear_enabled %}appear{% endif %}">
  <p style="text-align: center;">
    Owned by <a href="{{ 'about' | relative_url }}" title="About me">Nenepadi Ademang</a>.
    Powered by <a href="https://pages.github.com/" rel="noreferrer noopener" target="_blank">Github Pages</a>
    with <a href="https://github.com/nielsenramon/chalk" rel="noreferrer noopener" target="_blank" title="Download Chalk">Chalk</a> theme.
    <br>
    &copy;<script>document.write(new Date().getFullYear());</script> Nenepadi.me
  </p>
</footer>
