{% if page.thumb_image %}
  {% if page.thumb_image contains '://' %}
    {% assign thumb_image = page.thumb_image %}
  {% else %}
    {% assign thumb_image = page.thumb_image | asset_path | absolute_url %}
  {% endif %}
{% else %}
  {% assign thumb_image = 'og-image.jpg' | asset_path | absolute_url %}
{% endif %}
<head>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ site.name }} | {{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{{ page.title | escape }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:image" content="{{ thumb_image }}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="{{ page.url | absolute_url }}">
  <meta name="twitter:title" content="{{ page.title | escape }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image" content="{{ thumb_image }}">

  <link rel="apple-touch-icon" sizes="57x57" href="{% asset_path logo/apple-icon-57x57.png %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% asset_path logo/apple-icon-60x60.png %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% asset_path logo/apple-icon-72x72.png %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% asset_path logo/apple-icon-76x76.png %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% asset_path logo/apple-icon-114x114.png %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% asset_path logo/apple-icon-120x120.png %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% asset_path logo/apple-icon-144x144.png %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% asset_path logo/apple-icon-152x152.png %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% asset_path logo/apple-icon-180x180.png %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% asset_path logo/android-icon-192x192.png %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% asset_path logo/favicon-32x32.png %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% asset_path logo/favicon-96x96.png %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% asset_path logo/favicon-16x16.png %}">
  <link rel="manifest" href="{% asset_path logo/manifest.json %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% asset_path logo/ms-icon-144x144.png %}">
  <meta name="theme-color" content="#ffffff">

  <link href="{{ 'feed.xml' | absolute_url }}" type="application/rss+xml" rel="alternate" title="{{ site.name }} Last 10 blog posts" />

  {% if site.local_fonts %}
    {% include stylesheet.html path="fonts" %}
  {% endif %}

  {% if site.blog_theme == "light" %}
    {% include stylesheet.html path="light" %}
  {% else %}
    {% include stylesheet.html path="dark" %}
  {% endif %}
</head>
